.admin-icon-buttons button {
  background-color: transparent;
  color: var(--blue);
  width: fit-content;
  border: none;
}

.admin-icon-buttons button:hover {
  background-color: transparent;
  color: var(--dark-green);
}

.product-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.product-header button {
  padding: 15px 30px;
}
