.form-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  text-align: center;
}

.form-center {
  align-content: center;
  justify-content: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper p {
  margin: 10px;
}

.form-wrapper input,
.form-wrapper textarea {
  padding: 10px;
  font-family: var(--main-text);
  letter-spacing: 0.05rem;
  min-width: 300px;
}

.form-wrapper textarea {
  height: 150px;
}

.form-wrapper label {
  text-align: left;
  text-indent: 1em;
}

.form-wrapper button {
  padding: 10px;
  min-width: 300px;
}
