.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
}

.login-wrapper p {
  margin: 10px;
}

.login-wrapper input {
  padding: 10px;
  font-family: var(--main-text);
  letter-spacing: 0.05rem;
  min-width: 300px;
}

.login-wrapper button {
  padding: 10px;
  min-width: 300px;
}
