:root {
  --height-lg-screens: 80px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  height: var(--height-lg-screens);
  background-color: var(--dark);
}

.navbar-links {
  display: flex;
}

.navbar-home,
.navbar-link {
  display: flex;
  align-items: center;

  padding: 16px;
}

.navbar-home {
  height: var(--height-lg-screens);
  box-sizing: border-box;
}

.navbar-home h2 {
  color: #fff;
  margin: 0;
}

.navbar-link {
  border-bottom: 2px solid var(--dark);
}

.navbar-link:hover {
  border-bottom-color: var(--highlight);
}

.toggle {
  display: none;
  padding: 8px;
  font-size: 16px;
  background-color: var(--dark);
  border: none;
}
.toggle:active,
.toggle:focus,
.toggle:hover {
  background-color: var(--dark) !important;
  outline: none;
}

.logo {
  width: 34px;
  height: 34px;
}

.navbar-link a {
  text-decoration: none;
  color: #fff;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  color: pointer;
  text-align: left;
  border: 1px solid;
  height: 40px;
  width: auto;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
  cursor: pointer;
}
.custom-dropdown p {
  margin: 0;
  padding: 11px;
  width: auto;
  color: #fff;
}
.custom-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  z-index: 1;
  border: 1px solid var(--dark);
  width: 100%;
  top: 40px;
  left: -1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-height: 400px;
  overflow-y: auto;
}
.custom-dropdown .dropdown-content button {
  background-color: var(--dark);
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 8px 16px;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.custom-dropdown .dropdown-content button:hover {
  background-color: var(--dark-link-hover);
  color: var(--dark);
}
.custom-dropdown.show .dropdown-content {
  display: block;
}

.searchbox,
.searchbox form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbox button,
.searchbox input {
  height: 40px;
  padding: 10px;
  margin: 0px;
}

.searchbox input {
  background-color: var(--bg2);
  border-radius: 5px 0px 0px 5px;
  font-family: var(--text-main);
}

.searchbox button {
  border-radius: 0px 5px 5px 0px;
}

@media screen and (max-width: 800px) {
  .searchbox {
    display: none;
  }

  .Navbar {
    flex-direction: column;
    height: auto;
    background-color: var(--dark);
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links.closed {
    display: none;
  }

  .toggle {
    display: block;
  }

  .navbar-link {
    border-bottom: none;
  }

  .dropdown-wrapper {
    flex-direction: column;
  }

  .custom-dropdown {
    width: 100%;
  }
}
