.pagination {
  display: flex;
  flex-direction: row;
}

.pagination a {
  margin: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: 2px solid var(--link);
  background-color: transparent;
  color: var(--link);
}

.pagination button:hover {
  border: 2px solid var(--link-hover);
  background-color: var(--link-hover);
}

.pagination button:hover:disabled {
  border: 2px solid var(--link-hover);
  background-color: transparent;
}
