:root {
  --bg: #f9f9f9;
  --bg-card: #ffffff;
  --bg2: #f1f1f1;
  --dark: #4a4a4a;
  --link: #2c8898;
  --link-hover: #35a5b8;
  --dark-link: #2c8898;
  --dark-link-hover: #35a5b8;
  --warning: #ecb9b1;
  --warning-dark: #b26e63;
  --success: #c0caad;
  --success-dark: #9da9a0;
  --info: #a3c7e4;
  --info-dark: #49789e;
  --highlight: #cec075;
  --var(--bg2): #222;
  --main-text: 'Nunito', sans-serif;
  --headlines: 'Roboto Slab', serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0px;
  padding: 0px;
  color: var(--dark);
  background-color: var(--bg);
  font-family: var(--main-text);
  font-weight: 300;
  height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 20px;
}

nav {
  background: var(--dark);
  padding: 0 15px;
}

a {
  color: var(--bg);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: var(--headlines);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 2.35em;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.05em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
  white-space: pre-line;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-bottom: 0px;
  border-top: 1px solid #dddddd;
  border-left: 0px;
  border-right: 0px;
}

a {
  text-decoration: none;
  color: var(--link);
}
a:hover {
  color: var(--dark-green);
}

ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li {
  list-style-type: none;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--link);
  margin-bottom: 2.5rem;
  background-color: var(--bg2);
}

blockquote p {
  margin-bottom: 0;
}

/* Pre and Code */
pre {
  background-color: var(--bg2);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: var(--bg2);
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid var(--bg2);
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid var(--link);
}

textarea {
  width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font-family: var(--main-text);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--link);
  color: var(--bg);
  border-radius: 1px;
  border: 1px solid var(--link);
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type='submit']:focus:enabled,
input[type='submit']:hover:enabled,
input[type='reset']:focus:enabled,
input[type='reset']:hover:enabled,
input[type='button']:focus:enabled,
input[type='button']:hover:enabled {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
  color: var(--bg);
  outline: 0;
}

textarea,
select,
input[type] {
  color: var(--dark);
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: var(--bg2);
  border: 1px solid var(--bg2);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type]:focus {
  border: 1px solid var(--link);
  outline: 0;
}

input[type='checkbox']:focus {
  outline: 1px dotted var(--link);
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.checker {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: left;
}
.checker input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checker__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.checker--radio .checker__indicator {
  border-radius: 50%;
}
.checker:hover input ~ .checker__indicator,
.checker input:focus ~ .checker__indicator {
  background: #ccc;
}
.checker input:checked ~ .checker__indicator {
  background: #2aa1c0;
}
.checker:hover input:not([disabled]):checked ~ .checker__indicator,
.checker input:checked:focus ~ .checker__indicator {
  background: #0e647d;
}
.checker input:disabled ~ .checker__indicator {
  background: #e6e6e6;
  opacity: 0.5;
  pointer-events: none;
}
.checker__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.checker input:checked ~ .checker__indicator:after {
  display: block;
}
.checker--checkbox .checker__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checker--checkbox input:disabled ~ .checker__indicator:after {
  border-color: #7b7b7b;
}
.checker--radio .checker__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.checker--radio input:disabled ~ .checker__indicator:after {
  background: #7b7b7b;
}

.form {
  width: 400px;
}
.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: left;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  position: absolute;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  font-family: var(--main-text);
  font-style: italic;
  top: 0;
  left: 0;
  background: var(--bg2);
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 20px;
  line-height: 20px;
  color: var(--dark);
  border-radius: 5px 10px 10px 5px;
}
.file-upload-wrapper:before {
  content: 'Upload';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 40px;
  background: #4daf7c;
  color: #fff;
  font-weight: 500;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
  background: #3d8c63;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
