:root {
  --background: #f9f9f9;
  --mid-grey: #4a4a4a;
  --dark-grey: #222;
  --light-green: #c0caad;
  --dark-green: #9da9a0;
  --dark-rose: #654c4f;
  --cooper: #b26e63;
  --dark-khaki: #cec075;
  --blue: #2c8898;
  --main-text: 'Nunito', sans-serif;
  --headlines: 'Roboto Slab', serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0px;
  padding: 0px;
  color: var(--mid-grey);
  background-color: var(--background);
  font-family: var(--main-text);
  font-weight: 300;
  height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 20px;
}

nav {
  background: var(--dark-grey);
  padding: 0 15px;
}

a {
  color: var(--background);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: var(--headlines);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 2.35em;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.05em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-bottom: 0px;
  border-top: 1px solid #dddddd;
  border-left: 0px;
  border-right: 0px;
}

a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  color: var(--dark-green);
}

ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li {
  list-style-type: none;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--blue);
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid var(--blue);
}

textarea {
  width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font-family: var(--main-text);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--blue);
  color: var(--background);
  border-radius: 1px;
  border: 1px solid var(--blue);
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type='submit']:focus:enabled,
input[type='submit']:hover:enabled,
input[type='reset']:focus:enabled,
input[type='reset']:hover:enabled,
input[type='button']:focus:enabled,
input[type='button']:hover:enabled {
  background-color: var(--cooper);
  border-color: var(--cooper);
  color: var(--background);
  outline: 0;
}

textarea,
select,
input[type] {
  color: var(--mid-grey);
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type]:focus {
  border: 1px solid var(--blue);
  outline: 0;
}

input[type='checkbox']:focus {
  outline: 1px dotted var(--blue);
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.radiobutton {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: left;
}
.radiobutton input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radiobutton__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.radiobutton--radio .radiobutton__indicator {
  border-radius: 50%;
}
.radiobutton:hover input ~ .radiobutton__indicator,
.radiobutton input:focus ~ .radiobutton__indicator {
  background: #ccc;
}
.radiobutton input:checked ~ .radiobutton__indicator {
  background: #2aa1c0;
}
.radiobutton:hover input:not([disabled]):checked ~ .radiobutton__indicator,
.radiobutton input:checked:focus ~ .radiobutton__indicator {
  background: #0e647d;
}
.radiobutton input:disabled ~ .radiobutton__indicator {
  background: #e6e6e6;
  opacity: 0.5;
  pointer-events: none;
}
.radiobutton__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.radiobutton input:checked ~ .radiobutton__indicator:after {
  display: block;
}
.radiobutton--radio .radiobutton__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.radiobutton--radio input:disabled ~ .radiobutton__indicator:after {
  background: #7b7b7b;
}
